deltasigma
requests
webrtcvad
numpy
matplotlib
pandas
Flask
python-dotenv
werkzeug
watchdog
Flask-SQLAlchemy
flask-migrate
flask-marshmallow
marshmallow-sqlalchemy
flask-bootstrap
pyodbc
Flask-API
scipy