
div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
    padding: 0px;
  }

#birds{
  display: -webkit-box; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}